[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "test-pypi"

[packages]
mkdocs-material = "==4.6.3"
