pipenv==2018.11.26
Flask==0.12.2
Flask-Cors==3.0.7
flask-restplus==0.13.0
flask-restplus-sqlalchemy==0.0.3
Flask-SQLAlchemy==2.4.4
psycopg2-binary==2.8.6
SQLAlchemy==1.3.11
web3==5.11.1
werkzeug==0.16.0
